<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Тестовое задание Суслов</title>
</head>
<body>
<p><h1>Выберите изображение для обработки</h1></p>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Загрузить</button>
</form>
{% if img_obj %}
  <h3>Загруженное изображение</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
  <h3>На изображении больше {{ pixel }} пикселей</h3>
  <h4>Белые пиксели - это пиксели с кодом RGB = 255, 255, 255</h4>
  <h4>Черные пиксели - это пиксели с кодом RGB = 0, 0, 0</h4>
{% endif %}
</body>
</html>
